/* Artfully masterminded by @acho_arnold */
/* With help from @nerdnotfool www.nerdnotfool.com*/

body {
	background: #f8f8f8;
}
.button {
	background: #4eb25c;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: white;
	width: auto;
}

.button:hover, .button:focus {
	background: #404b3b;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

ul{
	padding:0px;
	margin:0px;
}

a{
  	text-decoration: none;
	color: #6564A2;
}
a:visited{
	border:none;
	text-decoration: none;
}

/*
Typography
----------------------------------------------------- */

body, p {
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: normal;
	line-height: 1.2em;
}
.bebas {
	border:none;
	font-family: 'BebasNeueRegular', Arial, sans-serif;
	letter-spacing: 2;
	text-align: left;
}
.giant {
	color: rgba(0, 0, 0, 0.7);
	font-size:4em;
	font-weight: normal;
	margin-top:2px;
	margin-bottom:0px;
 }
}

/*--- Headings ---*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
h1,.alpha a{
	font-size:5em;			/* 32px */
	line-height:1.5;		/* 48px */;
}
h2, .beta{
	font-size:1.5em;		/* 24px */
	line-height:24px;			/* 24px */
}
h3,.gamma{
	font-size:1.25em;	/* 20px */
	line-height:1.2;		/* 24px */
}
h4,.delta{
	font-size:1.125em;	/* 18px */
	line-height:1.333;	/* 24px */
}
h5,.epsilon{
	font-weight: bold;
}
h5,.epsilon,
h6,.zeta{
	font-size:1em;			/* 16px */
}

/*
Container
----------------------------------------------------- */
.container {
	background: rgba(255, 255, 255, .5);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,0.13);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.13);
	margin-top: -100px;
}
.container header h1 {
	display: block;
}

/*
Blur
----------------------------------------------------- */
.blur {
	background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
	background: linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* W3C */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-image: url(../images/bits.jpg);
	height: 550px;	
	background-size: cover;
}
.blur header {
	display:block;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
	color: white;
	padding: 0 5px;
	margin-top:10px;
	position: absolute;	
	text-align: center;
	width: 60%;
}
.blur header h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
	color: white;
	font-size: 1.7em;
	padding: 0;
}
.blur header h1 span {
	font-weight: 300;
}
.blur header p {
	font-family: arial, Georgia, serif;
	font-size: 16px;
	font-style:italic;
}

.blur nav{
	display:block;
	padding-top:270px;
	width:90%;
	margin: 0 auto;
}

.blur nav li{
	padding-left: 5%;
	padding-right:5px;
}
.blur nav li p{
	font-size: 20px;
	font-weight:bold;
	text-align: center;
}

.blur a{
	color: black;
	text-shadow:1px 1px 1px white, -1px -1px 1px white;	
}

.blur a:hover, .blur a:focus {
	color:  #6564A2;
}

.post-author {
	color: grey;
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: bold;
}


/* Socail Icons styling 	*/
.size-4{
	font-size: 54px;
}
.size-3{
	font-size:35px;
}

.social i{
	line-height:50px;
}
.social a{
	color:grey;
}

.foundicon-facebook:hover, 
.foundicon-facebook:focus {
	color:  #3B5998;
}

.facebook{
	background-color:  #3B5998;
}
.facebook:hover, 
.facebook:focus {
	background-color:  #3B5998;
}

.foundicon-twitter:hover, 
.foundicon-twitter:focus {
	color:  #33ccff;
}
.foundicon-google-plus:hover, 
.foundicon-google-plus:focus {
	color: #b43223;
}

.google-plus:hover, 
.google-plus:focus {
	background-color: #b43223;
}
.google-plus{
	background-color: #b43223;
}
.foundicon-github:hover, 
.foundicon-github:focus {
	color: black;
}

/* Powerfull side-nav: */
.side-nav{
	font-weight: bold;
	position:relative;
	text-align: left;
	width:100%;
}

.side-nav li{
	text-align: center;
	padding:5px;
}

.side-nav li.active a 
{
	font-size:20px;
}
}
/*	Team		*/
.member-profile
 {
	float:left;
	width:100%;
	padding-bottom: 10px;
}       
.member-profile p{
 	line-height: 1.3em;
 	margin:0;
 }
.member-profile img
{
	display: block;
	float: left;
}

 .member-profile
{
	float:left;
	width:100%;
}
 
.member-profile p
{	
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: bold;
	overflow: hidden;
	padding-left: 10px;	
}

.member-profile .position{	
	color: #333;
}

.add-content{
	overflow:hidden;
	color: gray;
	font-size: 14px;
	margin-top: 20px;
}

/* Event Table*/
table.events th, table.events td {
	border: 1px solid black;
	font-family: arial;
	font-size:14px;
	text-align: center;
}
table.events th {
	background: #26333b;
	color: greenyellow;
}

.events{
	width:100%;
}
/*
Main Content
----------------------------------------------------- */
.main-content, 
.meetups {
	padding-left: 10px;
}

.fun{
	color: orangered;
	font-family:Georgia, Times, serif;
	font-weight: bold;
	letter-spacing:0.07em;
}

.main-content ul {
	list-style: none;
}

h2 {
	border-bottom: dashed 1px rgba(0, 0, 0, .3);
	color:orangered;
	font-family: 'BebasNeueRegular', Arial, sans-serif;
	font-weight: normal;
	font-size: 23px;
	padding-bottom: 4px;
	text-align:center;
}

.main-content p{
	font-size: 15px;
}
/* ----- Social Buttons --------*/
.social-buttons{
  display:block;
  width: 700px;
  height:25px;
  margin: 0 auto;
  margin-bottom: 3px;
}

.social-buttons ul{
  	padding-left: 0;
  	list-style: none;
}
.social-buttons ul li{
  float:left;
}

/*-- post-item --*/
.post-item h3 {
	font-family: "Times New Roman", Times, serif;
	font-size: 26px;
	font-style: italic;	
	font-weight: normal;
	line-height: 1.1em;
}	
.post-item {
	margin: 0 0 30px;
	padding: 0;
	border-bottom: 1px dotted #DDD;
}
.post-item p{
	font-size: 15px;
}
.post-info{
	color: #999;
	font-size: 12px;
	margin: 0 0 10px;
	text-transform: uppercase;
}
.read-more {
	font-family: "Times New Roman", Times, serif;	
	font-style: italic;
}

/*-- Form --*/
.contact-form input{
	width:70%;
}
.required_star {
color:#F00;
font-weight:bold;
}
.antispamquestion{
	display:block;
	text-align: left;
}

/*-- resources-links --*/

.resources-links p {
	font-size: 16px;
	text-align: center;
}

/*
Benefits
----------------------------------------------------- */
#magellanTopNav {
	background: rgba(255, 255, 255, .5);
	padding-top: 10px;
	width: 100%;
}

/*
Benefits
----------------------------------------------------- */
.about {
	background: -moz-linear-gradient(45deg,  #020031 0%, #6d3353 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #020031 0%,#6d3353 100%); /* IE10+ */
	background: linear-gradient(45deg,  #333 0%,#6d3353 100%); /* W3C */
	background: url(../images/programmer.jpg) no-repeat;
	background-size: cover;
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding: 80px 0;
}
.about a{
	color:greenyellow;
	font-weight: bold;
}

ul.accordions{
	background-color: rgba(78, 178, 92, 0.5);
	border: none;
	list-style: none;
	margin: 0;
	padding: 2px 10px;
}
ul.accordions > li {
	border: none;
	color: white;
	margin: 3px 0px;
}
ul.accordions > li h2 {
	color: white;
}
ul.accordions > li.active {
	border: none;
}
ul.accordions > li.active .title, ul.accordions > li .title {
	border: none;
}
ul.accordions > li.active .content {
	border: none;
}
.content h3, .content p{
	font-size: 15px;
	line-height: 17px;
	margin-bottom: 0;
}

/*
Meetups
----------------------------------------------------- */
.meetups h2 {
	border-bottom: dashed 1px rgba(0, 0, 0, .3);
	font-family: 'BebasNeueRegular', Arial, sans-serif;
	font-weight: normal;
	padding-bottom: 8px;
}

/*
Nerd Not Fool
----------------------------------------------------- */
.nerdnotfool {
	background: #e7e7ef;
	margin-top: 0;
	padding: 0;
}
.nerdnotfool p{	
	font-size: 13px;
}

.nerdnotfool ul{
	margin-top:10px;
	padding:0;
}
.nerdnotfool h6{
	line-height: 0.9em;
	margin-bottom: 0;
}
/*
Copyright
----------------------------------------------------- */
.copyright {
	background: #3F3F3F;
	color: white;
	font-weight: bold;
	width:100%;
	padding-top: 10px;
	text-align:left;
}

.copyright a {
	color: greenyellow;
}

.copyright a:hover,
.copyright a:focus
{
  border-bottom: #58c5e8 solid 2px;
  color:#58c5e8;
}


/*
Misc
----------------------------------------------------- */
::selection { background-color: #1F1F47; color:#fff; }
::-moz-selection{ background-color: #1F1F47; color:#fff; }
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.clearfix {display: inline-block;}
/*-- Hides from IE-mac --*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/*
Media Queries
----------------------------------------------------- */

@media only screen and (min-width: 1340px) {
	.blur{
	   background: url(../images/cover.jpg) no-repeat;
		background-size: cover;
	}
}

@media only screen and (max-width: 1024px) {
	.social
		{
			width:288px;
			margin: 0 auto;
		}

	.foundicon-facebook,
	.foundicon-github,
	.foundicon-google-plus,
	.socail .foundicon-twitter
	{
		font-size:55px;
	}
}

}
@media only screen and (max-width: 767px) {
	.giant {
		font-size:3.7em;		
	}	
}

@media only screen and (max-width: 766px) {
	.giant {
		font-size:2.9em;		
	}	
}

@media only screen and (max-width: 800px) {
	.blur nav{
		width:595px;
		margin: 0 auto;
	}
	.blur nav li{
		padding-left:10px;
		padding-right:5px;
	}
}	
@media only screen and (max-width: 598px) {
	.blur{
	   background-image:none;
	   background-color: #28200b;	
	}
	.blur nav li p{
		font-size:10px;
		text-align:left;
	}
	.blur nav{
		width:100%;
	}
	.blur nav li{
		padding:10px;
	}
	.blur header {
		width:90%;
	}
	.giant {
		font-size:2em;		
	}
	.blur nav img{
		width:40px;
	}
}	


@font-face {
    font-family: 'BebasNeueRegular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
}

/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }